<!-- Footer Component -->
<footer id="footer" class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-section">
                <div class="footer-logo">
                    <img src="/assets/images/logo/slogan03.png" alt="YPP 로고">
                </div>
                <p class="footer-desc"
                   data-eng="YPP ENERGY opens the future of safe and sustainable energy with you."
                   data-kor="안전하고 지속가능한 에너지의 미래를 여는<br>YPP ENERGY가 함께합니다.">
                    안전하고 지속가능한 에너지의 미래를 여는<br>
                    YPP ENERGY가 함께합니다.
                </p>
            </div>
            <div class="footer-section">
                <h3 class="footer-title"
                data-eng="Company Information"
                    data-kor="회사정보">회사정보</h3>
                    <ul class="footer-contact">
                    <li data-eng="<strong>YPP ENERGY Corporation</strong>" data-kor="<strong>와이피피에너지 주식회사</strong>">와이피피에너지주식회사</li>
                    <li data-eng="(08592) 24, Gasan Digital 2-ro (Gasan-dong 327-30), Geumcheon-gu, Seoul, Republic of Korea" data-kor="(08592)  서울시 금천구 가산디지털2로 24 (가산동 327-30)">(08592) 서울시 금천구 가산디지털2로 24 (가산동 327-30)</li>
                    <li data-eng="Gasan YPP Arsen Tower (B2, 8F, 20F)" data-kor="가산YPP아르센타워(B2층, 8층, 20층)">가산YPP아르센타워(B2층, 8층, 20층)</li>
                    <li data-eng="Tel: +82-2-2104-8700" data-kor="대표전화: +82-2-2104-8700">대표전화: +82-2-2104-8700</li>
                    <li data-eng="FAX: +82-2-2104-8711" data-kor="FAX: +82-2-2104-8711">FAX: +82-2-2104-8711</li>
                    <li data-eng="Information Manager: Jaeyoung Son" data-kor="정보관리책임자: 손재영">정보관리책임자: 손재영</li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-copyright"
            data-eng="© 2025 YPP ENERGY Corporation. All rights reserved."
            data-kor="© 2025 와이피피에너지 주식회사(YPP ENERGY Corporation). All rights reserved.">
            © 2025 와이피피에너지 주식회사(YPP ENERGY Corporation). All rights reserved.
        </p>
        <div class="footer-legal">
            <a href="/pages/company/location.html" data-eng="Location" data-kor="오시는길" class="footer-links">오시는길</a>
            <a href="/sitemap.html" data-eng="Sitemap" data-kor="사이트맵" class="footer-links">사이트맵</a>
            <a href="https://utopian-azimuth-a03.notion.site/25952cbc4e9380c9a65dd5a33af869f0?source=copy_link" target="_blank" data-eng="Privacy Policy" data-kor="개인정보처리방침">개인정보처리방침</a>
            <a href="https://utopian-azimuth-a03.notion.site/25952cbc4e938027a56bd9d43f83a3d3?source=copy_link" target="_blank" data-eng="Terms of Use" data-kor="이용약관">이용약관</a>
        </div>
    </div>
</div>
    </div>