<section id="keypartners" class="keypartners-section" >
    <div class="container">
        <!-- Section Header -->
        <div class="index-section-header">
            <h2 class="index-section-title">Key Partners</h2>
        </div>

        <div class="keypartners-grid">
            <div>
                <div class="keypartners-grid-title">Suppliers</div>
                <div>
                    <ul>
                        <li><img src="/assets/images/index/ametek.png" alt="" srcset=""></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="keypartners-grid-title">Overseas Companies</div>
                <div>
                    <ul>
                        <li><img src="/assets/images/index/ametek.png" alt="" srcset=""></li>
                        <li><img src="/assets/images/index/image3.JPG" alt="" srcset=""></li>
                        <li><img src="/assets/images/index/image4.png" alt="" srcset=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    #keypartners {margin-bottom:6.5rem; padding: 84px 0;}
    .keypartners-grid {
        display: flex;
        flex-direction: column;
        gap: 6.9rem;
        margin-top: 1rem;
    }
    .keypartners-grid-title{
        font-size: 1.5rem;
        font-weight: 600;
        padding: .2rem 1rem;
        border-left: 7px solid #007bff;
        vertical-align: middle;
        margin-bottom: 1.5rem;
    }
    .keypartners-grid ul{display: flex; flex-wrap: wrap; gap: 16px; justify-content: space-around;}
</style>